  
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Got an Issue?</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {{#if loggedIn }}
        <form action="/logout" method="POST"><button type="submit" class="btn btn-danger btn-sm">Log out </button></form>
          {{else}}
          <form action="/login" method="GET"><button type="submit" class="btn btn-danger btn-sm">Log in </button></form>
        {{/if}}
      </li>
    </ul>
    <div class="dropdown">
</div>
  </div>
  </nav>