  
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Got an Issue?</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
       <form action="/auth/github" method="POST"><button class="btn btn-primary" type="submit">Log In</button></form>
      </li>
    </ul>
    <div class="dropdown">
</div>
  </div>
  </nav>