<style>
  .inline {
    display: inline-block;
    margin-bottom: 0.3em;
  }
  .img {
    width: 240px;
    display: block;
    margin-bottom: 2em;
  }
</style>

{{#if repos }}
<h1>User Repos</h1>
  <img src="{{img}}" class="img" alt="an Image"/>
{{/if}}
{{#each repos }}
<div class="inline">
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/issues/{{this.url}}" class="btn btn-primary btn-sm">View Issues</a>
  </div>
</div>
</div>
{{/each}}


{{!-- <script>
     var socket = io(); // your initialization code here.
     console.log('i am here lol')
     socket.connect('http://localhost:4567')

      socket.on('message', function (data) {
    console.log('message arrivede')
    console.log(data)
  // p.textContent = data.message
 })
</script> --}}