<p>Hello World</p>
<script src="/socket.io/socket.io.js"></script>


<script>
     var socket = io(); // your initialization code here.
     console.log('i am here lol')
     socket.connect('http://localhost:4567')
</script>